@import "../css/standard.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* top navbar */

.navbar-top-bg {
    background-image: url(../images/BG.svg);
    background-size: cover;
    background-position: center;
    height: 992px;
    min-width: 100%;
    background-repeat: no-repeat;
}

.navbar-top-content {
    display:flex;
    justify-content: space-between;
    padding-top: 40px;
    border-bottom: #eceef4 2px solid;
}

.navbar-top-content .navbar-top-links {
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
    margin-bottom: 30px;
}

.navbar-top-content .navbar-top-links a {
    display: flex;
    text-decoration: none;
    padding: 0 27px;
    font-size: 17px;
    font-weight: 500;
    color: #252525;
}

.navbar-top-content .navbar-top-links > img {
    padding: 0 27px;
    color: #252525
}

.navbar-top-content .navbar-top-links {
    display: flex;
    align-items: center;
    justify-content: END;
}

.navbar-top-content .navbar-top-links > button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    border-radius: 5px;
    background-color:#F8F9FE;
    border: 1px solid #FF6803;
    color: #252525;
    padding: 10px 23px;
    cursor: pointer;
}

.showcase-infobox button:hover{
    color: #ffffff;
    background: #57647C;
    box-shadow: 5px 7px 7px 5px #f1f0f0;
    transition: box-shadow 0.30 ease-in-out;
  }

/* top navbar */

/* showcase */

.showcase-content {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.showcase-infobox {
    width: 600px;
    padding-top: 170px;
}

.showcase-infobox h1 {
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    line-height: 68px;
}

.showcase-infobox p {
    font-size: 19px;
    color: #57647C;
    padding-bottom: 25px;       
    width: 520px;
    line-height: 30px;
}

.showcase-infobox button {
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    color: #FFFFFF;
    background: rgb(242,55,121);
    background: linear-gradient(90deg, rgba(242,55,121,1) 35%, rgba(255,166,46,1) 100%);
    border:transparent;
}

.showcase-infobox button:hover{
    color: #ffffff;
    background: #57647C;
    box-shadow: 5px 7px 7px 5px #f1f0f0;
    transition: box-shadow 0.30 ease-in-out;
}


.showcase-shape {
    position: relative;
    z-index: 0;
    left: 625px;
    bottom: 735px;
}

.showcase-comp {
    position: relative;
    z-index: 1;
    top: 125px;
    right: 470px
}

/* showcase */

/* showcase 2 */

.showcase-two-content {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 550px;
    margin-top: 6rem;
}

.showcase-two-content h1 {
    width: 400px;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    line-height: 60px;
}

.showcase-two-content h2 {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}

.showcase-two-content p {
    font-size: 18px;
    color: #57647C;
    line-height: 30px;
}

.showcase-two-content .showcase-two-infobox {
    width: 450px;
    height: 275px;
    margin-right:11rem;
}

.showcase-two-content .showcase-two-infobox h1 {
    margin-top: 0;
}

.showcase-two-content .showcase-two-infobox p {
    padding-bottom: 25px;
    line-height: 30px;
}

.showcase-two-content .showcase-two-box1 {
    height:275px;
    width: 250px;
    margin-right: 192px;
} 

.showcase-two-content .showcase-two-box2 {
    height:275px;
    width: 250px;   
}

.showcase-two-content .showcase-two-infobox2 {
    padding-top: 90px;
}

.showcase-two-content .showcase-two-box3 {
    height:275px;
    width: 250px;
}

.showcase-two-content .showcase-two-box4 {
    height:275px;
    width: 250px;
}

/* showcase 2 end */

/* showcase 3 */

.showcase-three-title {
    display: flex;
    text-align: start;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    margin-top: 5rem;
    line-height: 60px;
    width:440px;
}

.showcase-three-content {
    display: flex;
}

.showcase-three-content h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
}

.showcase-three-content p {
    font-size: 18px;
    color: #57647C;
    line-height: 30px;
}

.showcase-three-placeholder {
    margin-top: 300px;
    margin-right:100px;
}

.showcase-three-info-column {
    display: flex;
    flex-direction: column;
}

.showcase-three-title {
    display: flex;
    flex-direction: row;
}

.showcase-three-infobox1 {
    display: flex;
    flex-direction: row;
}

.showcase-three-infobox1 h2 {
    margin-left: 50px;
}

.showcase-three-infobox1-t p {
    margin-left: 115px;
}

.showcase-three-infobox2 {
    display: flex;
    flex-direction: row;
}

.showcase-three-infobox2 h2 {
    margin-left: 40px;
}

.showcase-three-infobox2-t p {
    margin-left: 115px;
}

.showcase-three-infobox3 {
    display: flex;
    flex-direction: row;
}

.showcase-three-infobox3 h2 {
    margin-left: 35px;
}

.showcase-three-infobox3-t p {
    margin-left: 115px;
    padding-bottom: 175px;
}

/* showcase 3 end */

/* showcase 4 */

.showcase-four-header {
    margin-bottom: 2rem;
}

.showcase-four-header h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-top: 0;
}

.showcase-four-header p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    color: #57647C;
    line-height: 30px;
}

.showcase-four-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.showcase-four-content h1 {
    color: #F23779;
    font-size: 42px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}

.showcase-four-content p {
    color: #57647C;
    font-size: 18px;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}


.showcase-four-box {
    display: flex;
    justify-content: center;
}

.showcase-four-box-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 630px;
    height: 140px;
    margin-top: 75px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 2px 3px 5px 3px #dde0e2;
    transition: box-shadow 0.15s ease-in-out;
}

.showcase-four-box-text h1 {
    text-align: left; !im
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom:0;
    padding-bottom:0;
}

.showcase-four-box-text p {
    color: #57647C;
    font-size: 18px;
    margin-top: 5px;

}

.showcase-four-box-button button {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 3rem;
}

.showcase-four-mapbg {
    position: relative;
    z-index: -1;
    left: 270px;
    bottom: 375px;
    margin-bottom: -15rem;
}

/* showcase-four-end */

/* showcase-five */

.showcase-five-header {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.showcase-five-header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-top: 0;  
}

.showcase-five-header p {
    color: #57647C;
    font-size: 18px;
    line-height: 30px;
}

.showcase-five-boxes {
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-column-gap: 6.56rem;
    margin-bottom: 8rem;

}

.showcase-five-boxes h1 {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #FF6803;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 1rem;
}

.showcase-five-boxes h2 {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-top: 0;
    padding-top: 0;
    padding-left: 1rem;
}

.showcase-five-boxes p {
    color: #57647C;
    font-size: 18px;
    line-height: 30px;
    padding-left: 1rem;
}

.showcase-five-boxes button {
    font-size: 14;
    font-weight: 700;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    padding:1.1rem 1.4rem
}


.showcase-five-box1 {
    box-shadow: 2px 3px 5px 3px #f1f0f0;
}

.showcase-five-box2 {
    box-shadow: 2px 3px 5px 3px #f1f0f0;
}

.showcase-five-box3 {
    box-shadow: 2px 3px 5px 3px #f1f0f0;
} 